{% extends "AppBundle::layout.html.twig" %}

    {% block content %}

        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
            {{ form_label(form.link) }} <br>
            {{ form_widget(form.link) }}
        </div>
        <div>
            {{ form_label(form.title) }} <br>
            {{ form_widget(form.title) }}
        </div>
        <div>
            {{ form_label(form.description) }} <br>
            {{ form_widget(form.description) }}
        </div>
        <div>
            {{ form_label(form.author) }} <br>
            {{ form_widget(form.author) }}
        </div>
        <div style="padding-bottom: 20px;">
            {{ form_label(form.year) }} <br>
            {{ form_widget(form.year) }}
        </div>
        {{ form_end(form) }}

    {% endblock %}