{% extends "::base.html.twig" %}

{% block title %} Новини {% endblock %}

{% block content %}
    {% if is_granted('ROLE_USER') %}

    <div class="col-lg-12">
        <a href="{{ path('app_add_news') }}" class="btn btn-success btn-large"><span class="glyphicon glyphicon-plus"></span> Додати новину</a></br>
    </div>

    {% endif %}
    <div class="col-sm-12" id="featured">
        <div class="page-header text-muted">

            {#<a href="{{ path('app_add_news') }}" class="add -dream">#}
                {#<span class="icon-bg"></span>#}
                News
                {#<span class="icon-add"></span>#}
            {#</a>#}
        </div>
    </div>

    {% for news in news %}
    <div class="row">
        <div class="col-sm-10">

            <h4><span class="label label-default"><a href="{{ path('app_get_single_news', {"slug" : news.slug}) }}">{{ news.title }}</a></span></h4>
                <small class="text-muted">{{ news.text }}{{ news.createdAT|date("F jS \\a\\t g:ia") }} • <a href="{{ path('app_get_single_news', {"slug" : news.slug}) }}">Read More</a></small>

        </div>
        <div class="col-sm-2">
            <a href="{{ path('app_get_single_news', {"slug" : news.slug}) }}" class="pull-right"><img src="{{ asset('bundles/app/images/ui-sam.jpg') }}" class="img-circle"></a>
        </div>
    </div>
    {% endfor %}
{% endblock %}


    {#{% for news in news %}#}
        {#<div class="col-lg-12">#}
            {#<div class="col-lg-12">#}
                {#<a href="{{ path('app_get_single_news', {"slug" : news.slug}) }}">{{ news.title }}</a>#}
            {#</div>#}

            {#<div class="col-lg-12">#}
                {#{{ news.text }}#}
            {#</div>#}
        {#</div>#}
    {#{% endfor %}#}
{#{% endblock %}#}


{#<!-- content -->#}

{#<div class="col-sm-12" id="featured">#}
    {#<div class="page-header text-muted">#}
        {#Featured#}
    {#</div>#}
{#</div>#}

{#<!--/top story-->#}
{#<div class="row">#}
    {#<div class="col-sm-10">#}
        {#<h3>This is Some Awesome Featured Content</h3>#}
        {#<h4><span class="label label-default">techvisually.com</span></h4><h4>#}
            {#<small class="text-muted">1 hour ago • <a href="#" class="text-muted">Read More</a></small>#}
        {#</h4>#}
    {#</div>#}
    {#<div class="col-sm-2">#}
        {#<a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>#}
    {#</div>#}
{#</div>#}

{#<div class="col-sm-12" id="stories">#}
    {#<div class="page-header text-muted divider">#}
        {#Top Stories#}
    {#</div>#}
{#</div>#}


{#<!--/stories-->#}
{#<div class="row">#}
    {#<div class="col-sm-10">#}
        {#<h3>Dramatically Raise the Value of Any Piece of Content</h3>#}
        {#<h4><span class="label label-default">searchenginewatch.com</span></h4><h4>#}
            {#<small class="text-muted">1 hour ago • <a href="#" class="text-muted">Read More</a></small>#}
        {#</h4>#}
    {#</div>#}
    {#<div class="col-sm-2">#}
        {#<a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/86.jpg" class="img-circle"></a>#}
    {#</div>#}
{#</div>#}

{#<div class="row divider">#}
    {#<div class="col-sm-12"><hr></div>#}
{#</div>#}

{#<div class="row">#}
    {#<div class="col-sm-10">#}
        {#<h3>14 Useful Sites for Designers</h3>#}
        {#<h4><span class="label label-default">devgarage.com</span></h4><h4>#}
            {#<small class="text-muted">2 days ago • <a href="#" class="text-muted">Read More</a></small>#}
        {#</h4>#}
    {#</div>#}
    {#<div class="col-sm-2">#}
        {#<a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>#}
    {#</div>#}
{#</div>#}

{#<div class="row divider">#}
    {#<div class="col-sm-12"><hr></div>#}
{#</div>#}

{#<div class="row">#}
    {#<div class="col-sm-10">#}
        {#<h3>Bootstrap Builders Get Their Own Playground</h3>#}
        {#<h4><span class="label label-default">bootply.com</span></h4><h4>#}
            {#<small class="text-muted">3 days ago • <a href="#" class="text-muted">Read More</a></small>#}
        {#</h4>#}
    {#</div>#}
    {#<div class="col-sm-2">#}
        {#<a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/women/17.jpg" class="img-circle"></a>#}
    {#</div>#}
{#</div>#}

{#<div class="row divider">#}
    {#<div class="col-sm-12"><hr></div>#}
{#</div>#}

{#<div class="row">#}
    {#<div class="col-sm-10">#}
        {#<h3>How to: Another Fantastical Article</h3>#}
        {#<h4><span class="label label-default">bootply.com</span></h4><h4>#}
            {#<small class="text-muted">4 days ago • <a href="#" class="text-muted">Read More</a></small>#}
        {#</h4>#}
    {#</div>#}
    {#<div class="col-sm-2">#}
        {#<a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/86.jpg" class="img-circle"></a>#}
    {#</div>#}
{#</div>#}

{#<div class="row divider">#}
    {#<div class="col-sm-12"><hr></div>#}
{#</div>#}

{#<div class="row">#}
    {#<div class="col-sm-9">#}
        {#<h3>Another Fantastical Article of Interest</h3>#}
        {#<h4><span class="label label-default">bootply.com</span></h4><h4>#}
            {#<small class="text-muted">4 days ago • <a href="#" class="text-muted">Read More</a></small>#}
        {#</h4>#}
    {#</div>#}
    {#<div class="col-sm-3">#}
        {#<a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/women/17.jpg" class="img-circle"></a>#}
    {#</div>#}
{#</div>#}

{#<div class="col-sm-12">#}
    {#<div class="page-header text-muted divider">#}
        {#Up Next#}
    {#</div>#}
{#</div>#}

{#<div class="row">#}
    {#<div class="col-sm-4 text-center">#}
        {#<h4>Related 1</h4>#}
        {#<a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>#}
    {#</div>#}
    {#<div class="col-sm-4 text-center">#}
        {#<h4>Related 2</h4>#}
        {#<a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>#}
    {#</div>#}
    {#<div class="col-sm-4 text-center">#}
        {#<h4>Related 3</h4>#}
        {#<a href="#"><img src="//placehold.it/400/f0f0f0" class="img-respsonsive img-circle"></a>#}
    {#</div>#}
{#</div>#}
