<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li>
            <a class="" href="{{ path('app') }}">
                {% trans %}Home{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="/">
                {% trans %}About me{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_video_addVideo') }}">
                {% trans %}AddVideo{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_video_show') }}">
                {% trans %}ShowVideo{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_chord_show') }}">
                {% trans %}ShowChord{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_song_show') }}">
                {% trans %}ShowSong{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_video_addSong') }}">
                {% trans %}AddSong{% endtrans %}</a>
        </li>
    </ul>
</nav>
