<nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
        <li>
            <a class="" href="{{ path('app_get_all_news') }}">
                {% trans %}Home{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="/">
                {% trans %}About me{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_add_video') }}">
                {% trans %}AddVideo{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_get_all_videos') }}">
                {% trans %}ShowVideo{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_get_all_chords') }}">
                {% trans %}ShowChord{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_get_all_albums') }}">
                {% trans %}ShowAlbum{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_get_all_songs') }}">
                {% trans %}ShowSong{% endtrans %}</a>
        </li>

        <li>
            <a class="blog-nav-item" href="{{ path('app_add_song') }}">
                {% trans %}AddSong{% endtrans %}</a>
        </li>
    </ul>

    {% block search %}

        <div class="search">
            <form action="{{ path('app_song_search') }}" metod="POST" class="form-search">
                <input type="text" name="search" class="input-medium search-query" />
                <input type="submit" class="btn" value="Search"/>
            </form>
        </div>

    {% endblock %}
</nav>
