<div class="col-lg-2">

    <div class="sidebar-module">
        <h4>Увійти:</h4>
        {% if app.user %}
            <div>
                <img src="{{ app.user.avatar }}" />
                <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>   |
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            </div>
        {% else %}
            <div>
                <a href="{{ path('hwi_oauth_service_redirect', {'service' : 'vkontakte'}) }}">Вконтакте</a>
            </div>

            <div>
                <a href="{{ path('hwi_oauth_service_redirect', {'service' : 'facebook'}) }}">Facebook</a>
            </div>
        {% endif %}
    </div>
    <div class="sidebar-module">

    </div>

</div>
