<div class="column col-sm-3" id="sidebar">

    <div class="sidebar-module">
        <h4>Увійти:</h4>
        {% if app.user %}
            <div>
                <img src="{{ app.user.avatar }}" />
                <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>   |
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            </div>
        {% else %}
            <div>
                <a class="logo" href="{{ path('hwi_oauth_service_redirect', {'service' : 'vkontakte'}) }}">Вк</a>
            </div>

            <div>
                <a class="logo" href="{{ path('hwi_oauth_service_redirect', {'service' : 'facebook'}) }}">Fa</a>
            </div>
        {% endif %}
    </div>
    <div class="sidebar-module">

    </div>

    <ul class="nav">
    <li class="active">
        <a href="{{ path('app_get_all_news') }}" class="btn btn-success btn-large"><i class="icon-white icon-star"></i> Home</a>
    </li>
    <li>
        <a href="{{ path('app_get_all_albums') }}" class="btn btn-success btn-large"><i class="icon-white icon-star"></i> Album</a>
    </li>
    </ul>

    <ul class="nav hidden-xs" id="sidebar-footer">
    <li>
    <a href="http://www.bootply.com"><h3>Basis</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Bootply</a>
    </li>
    </ul>
</div>



        {#<!-- sidebar -->#}
        {#<div class="column col-sm-3" id="sidebar">#}
            {#<a class="logo" href="#">B</a><a class="logo" href="#">F</a>#}
            {#<ul class="nav">#}
                {#<li class="active"><a href="#featured">Featured</a>#}
                {#</li>#}
                {#<li><a href="#stories">Stories</a>#}
                {#</li>#}
            {#</ul>#}


            {#<ul class="nav hidden-xs" id="sidebar-footer">#}
                {#<li>#}
                    {#<a href="http://www.bootply.com"><h3>Basis</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Bootply</a>#}
                {#</li>#}
            {#</ul>#}
        {#</div>#}
        {#<!-- /sidebar -->#}
