<div class="column col-sm-3" id="sidebar" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

    <div class="sidebar-module">
        <h4>Увійти:</h4>
        {% if app.user %}
            <div>
                <img src="{{ app.user.avatar }}" />
                <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>   |
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
            </div>
        {% else %}
            <div>
                <a class="logo" href="{{ path('hwi_oauth_service_redirect', {'service' : 'vkontakte'}) }}">Вк</a>
            </div>

            <div>
                <a class="logo" href="{{ path('hwi_oauth_service_redirect', {'service' : 'facebook'}) }}">Fa</a>
            </div>
        {% endif %}
    </div>

    </br>
    <ul class="nav">
    <li class="active">
        <a href="{{ path('app_get_all_news') }}" class="btn btn-success btn-large"><span class="glyphicon glyphicon-star"></span> Home</a>
    </li>
        </br>
    <li>
        <a href="{{ path('app_get_all_albums') }}" class="btn btn-success btn-large"><i class="icon-white icon-star"></i> Album</a>
    </li>
        </br>
    <li>
        <a href="{{ path('app_get_all_videos') }}" class="btn btn-success btn-large"><i class="icon-white icon-star"></i> All Videos</a>
    </li>

        <a href="{{ path('app_add_news') }}" class="add-dream">
            <span class="icon-bg"></span>
            Add News
            <span class="icon-add"></span>
        </a>

    </ul>

    <ul class="nav hidden-xs" id="sidebar-footer">
    <li>
    <a href="http://www.bootply.com"><h3>Basis</h3>Made with <i class="glyphicon glyphicon-heart-empty"></i> by Bootply</a>
    </li>
    </ul>
</div>
