<div class="col-sm-3 col-sm-offset-1 blog-sidebar">

    <div class="sidebar-module">
        <h4>Registration/Login</h4>
        {% if app.user %}
            <a href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a>   |
            <a href="{{ path('fos_user_security_logout') }}">Logout</a>
        {% else %}
            <a href="{{ path('fos_user_security_login') }}">Login</a>   |
            <a href="{{ path('fos_user_registration_register') }}">Register</a>
        {% endif %}
    </div>
    <div class="sidebar-module">
        <h4>Album</h4>
        <ol class="list-unstyled">
            {{ render(controller('AppBundle:Default:categoryTree')) }}
        </ol>
    </div>

</div>
