{% extends "::base.html.twig" %}

{% block title %} Всі по треку {{ song.name }} альбому {{ song.album.name }} {% endblock %}

{% block content %}

    {% if is_granted('ROLE_USER') %}
    <div>
        <a href="{{ path('app_add_video', {"slugVideo" : song.album.slug, "slug" : song.slug}) }}">Добавить видео</a>
    </div>
        <div>
            <a href="{{ path('app_add_chord', {"slugChord" : song.album.slug, "slug" : song.slug}) }}">Добавить аккорды</a>
        </div>

    {% endif %}


    <table>

        <tr>
            <th>Видео</th>
            <th>Акорды</th>
        </tr>
        <tr>
            <td>
    {% for video in song.video %}
        <div class="col-lg-12">
            <div class="col-lg-12">
                <a href="{{ path('app_get_single_video', {"slugAlbum" : video.song.album.slug, "slugSong" : video.song.slug, "slug" : video.slug}) }}">{{ video.name }}</a>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-6">Like: {{ video.dislike }}</div>
                <div class="col-lg-6">Dislike: {{ video.like }}</div>
            </div>
        </div>
    {% endfor %}
            </td>

            <td>

        <div class="col-lg-12">
            <div class="col-lg-12">
                <a href="{{ path('app_get_all_chords_in_song', {"slugAlbum" : song.album.slug, "slug" : song.slug}) }}">Chord</a>
            </div>

        </div>

            </td>
        </tr>
    </table>
{% endblock %}
