{% extends "::base.html.twig" %}

{% block title %} Всі відео треку {{ song.name }} альбому {{ song.album.name }} {% endblock %}

{% block content %}

    {% if is_granted('ROLE_USER') %}
    <div>
        <a href="{{ path('app_add_video', {"slugVideo" : song.album.slug, "slug" : song.slug}) }}">Добавить видео</a>
    </div>
    {% endif %}

    {% for video in song.video %}
        <div class="col-lg-12">
            <div class="col-lg-12">
                <a href="{{ path('app_get_single_video', {"slugAlbum" : video.song.album.slug, "slugSong" : video.song.slug, "slug" : video.slug}) }}">{{ video.name }}</a>
            </div>

            <div class="col-lg-12">
                <div class="col-lg-6">{{ video.dislike }}</div>
                <div class="col-lg-6">{{ video.like }}</div>
            </div>
        </div>
    {% endfor %}
    {% for chord in song.chord %}
        <div class="col-lg-12">
            <div class="col-lg-12">
                {{ chord.chord }}
            </div>

        </div>
    {% endfor %}
{% endblock %}
