{% extends "::base.html.twig" %}

{% block title %} Все Видео {% endblock %}

{% block content %}


    {% for videos in video %}
        <li><small class="text-muted">
                <div class="col-lg-12">
                    {#Добавив: {{ video.author.username }}<br>#}
                    {{ videos.createdAT|date("F jS \\a\\t g:ia") }}
                </div>

                <div class="col-lg-12">
                    {{ videos.link | raw}} </br>
                </div>
                <div class="col-lg-12">
                    <div class="col-lg-6">Dislike:{{ videos.dislike }}</div>
                    <div class="col-lg-6">Like:{{ videos.like }}</div>
                </div>

                <div class="col-lg-12">

                    <a href="{{ path('app_get_single_video', {"slugAlbum" : videos.song.album.slug, "slugSong" : videos.song.slug, "slug" : videos.slug}) }}">{{ videos.name }}</a>

                </div>
        </small></li>
    {% else %}
        <li><small class="text-muted"><b> В данный момент нет ни одного видео </b></small></li>
    {% endfor %}

{% endblock %}
