{% extends "::base.html.twig" %}

{% block title %} Відео до треку {{ video.song.name }} {% endblock %}

{% block content %}

        <div class="col-lg-12">
            <div class="col-lg-12">
                {{ video.name }}
            </div>

            <div class="col-lg-12">
                <div class="col-lg-6">{{ video.dislike }}</div>
                <div class="col-lg-6">{{ video.like }}</div>
            </div>

            <div class="col-lg-12">
                {{ video.Link    | raw}} </br>
            </div>

            {#<div class="col-lg-12">#}
                {#Добавив: {{ video.author.username }}#}
            {#</div>#}
        </div>

{% endblock %}
